﻿@model AuctionStore.UI.Models.AuctionHouseViewModel
@using Rsc
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "AuctionHouse", FormMethod.Post, new { @class = "form" }))
        {
            <h2>Create</h2>

            @Html.AntiForgeryToken()

            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Name" } })
            @Html.ValidationMessageFor(m => m.Name)

            @Html.EditorFor(m => m.Location, new { htmlAttributes = new { placeholder = "Location" } })
            @Html.ValidationMessageFor(m => m.Location)

            @Html.EnumDropDownListFor(m => m.Type)

            <input type="submit" value=@Resource.Create class="button" />
        }
    </div>
</div>
