﻿@using AuctionStore.Business.Enums
@model AuctionStore.UI.Models.AuctionHouseUpdateViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Update", "AuctionHouse", FormMethod.Post, new { @class = "form"}))
        {
            @Html.Hidden("oldHouseName", Model.Name)

            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = "Name" } })
            @Html.ValidationMessageFor(m => m.Name)

            <input type="submit" value="Ok" />
        }
    </div>
</div>