﻿<!DOCTYPE html>
<html ng-app="auctionApp">
<head>
    <title></title>
    <meta charset="utf-8"/>
    <script src="~/scripts/angular.js"></script>
    <link href="~/content/grid.css" rel="stylesheet" />
    <link href="~/content/main.min.css" rel="stylesheet" />
    <link href="~/content/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-messages.min.js"></script>
    <script src="~/areas/spa/scripts/app.js"></script>
    <script src="~/areas/spa/scripts/services.js"></script>

    <script src="~/areas/spa/scripts/productscontroller.js"></script>
    <script src="~/areas/spa/scripts/navigationcontroller.js"></script>
    <script src="~/areas/spa/scripts/detailscontroller.js"></script>
    <script src="~/areas/spa/scripts/editproductcontroller.js"></script>
    <script src="~/areas/spa/scripts/accountcontroller.js"></script>
</head>
<body ng-controller="NavigationController">
  
<div ui-view="header"></div>

<section class="main-content">
    <div class="container">
        <div ui-view="content"></div>
    </div>
</section>

<div ui-view="footer"></div>

</body>
</html>
