﻿@using Rsc
@model AuctionStore.UI.Models.UserViewModels.UpdateUserViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "User", FormMethod.Post,new {@class="form"}))
{
    <h2>@Resource.UpdateUser</h2>

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>m.RegistrationDate)
    @Html.HiddenFor(m => m.Id)
 
    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { placeholder = Resource.UserName } })
    @Html.ValidationMessageFor(m => m.UserName)

    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = Resource.Password } })
    @Html.ValidationMessageFor(m => m.Password)

    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { placeholder = Resource.ConfrimPassword } })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)

    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { placeholder = Resource.FirstName } })
    @Html.ValidationMessageFor(m => m.FirstName)

    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { placeholder = Resource.LastName } })
    @Html.ValidationMessageFor(m => m.LastName)

    <input type="submit" value="Update" />
}
