﻿@using Rsc
@model AuctionStore.UI.Models.ProductsViewModels.ProductViewModel

<div class="product-item">
    <div class="item-image">
        <div class="price">
            @if (Model.StartPrice == Model.BidPrice)
            {
                <div class="last-price">@Model.StartPrice.ToString("F") @Html.Partial("_Сurrency")</div>
            }
            else
            {
                <div class="start-price">@Model.StartPrice.ToString("F") @Html.Partial("_Сurrency")</div>
                <div class="last-price">@Model.BidPrice.ToString("F") @Html.Partial("_Сurrency")</div>
            }
        </div>
        <img src="@Url.Action("GetImage", "Product", new {id=Model.Id})"/>
    </div>
    <div class="item-description">
        <div class="title">@Model.Name</div>
        <hr/>
        <h4>@Resource.BidsQuantity: @Model.BidsQuantity</h4>
        <hr/>
        <h4>
           @Resource.TimeLeft: @Model.TimeLeft.ToString(@"dd\.hh\:mm\:ss")
        </h4>
        <hr />
        @Html.ActionLink("..."+Resource.ReadMore, "Details", "Product", new { id = Model.Id, returnUrl = Request.Url.PathAndQuery }, new {@class="button" })
    </div>
</div>