﻿@using AuctionStore.UI.Models.EnumsViewModels
@model IEnumerable<ProductStateView>

<ul>
      <li>
        <i class="fa fa-circle-thin"></i>
        @Html.ActionLink("Все товары", "ProductsManage", new { controller = "Admin"} , new 
       {
           @class =  ViewBag.SelectedProductState == null ? "selected" : ""
       })
    </li>

    @foreach (var state in Model.ToList())
    {
        <li>
            <i class="fa fa-circle-thin"></i>
            @Html.RouteLink(Html.DisplayForEnum(state).ToString(), "stateRoute", new {controller = "Admin", action = "ProductsManage", state = state}, new
            {
                @class = state == ViewBag.SelectedProductState ? "selected" : ""
            })
        </li>
    }

</ul>


