﻿@model IEnumerable<String>

<ul>
    @foreach (var link in Model)
    {
        <li>
            <i class="fa fa-circle-thin"></i>
            @Html.ActionLink(link, "ProductsList", new {controller = "Product", category = link}, new
            {
                @class = link == ViewBag.SelectedCategory ? "selected" : ""
            })
        </li>
    }
</ul>

