﻿@using Rsc
@model AuctionStore.UI.Models.CategoriesViewModels.CategoryViewModel
@{
    ViewBag.Title = Resource.Update;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Update", "Category", FormMethod.Post, new { @class = "form" }))
        {
            <h2>@Resource.CategoryManagement</h2>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.ValidationSummary(true)

            @Html.ValidationMessageFor(m => m.Name)
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = Resource.Name } })
            <br />
            @Html.ValidationMessageFor(m => m.Description)
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { placeholder = Resource.Description } })
            <br />
            <input type="submit" value=@Resource.Confirm class="button" />
        }
    </div>
</div>