﻿@using AuctionStore.Business.Enums
@using Microsoft.AspNet.Identity
@using Rsc
@model AuctionStore.UI.Models.ProductsViewModels.ProductViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string returnUrl = ViewBag.Returnurl;
    MvcHtmlString currency = Html.Partial("_Сurrency");
}

<section class="details">

    <div class="row">
        <div class="col-md-4">
            <img class="details-image" src="@Url.Action("GetImage", new {id = Model.Id})" />
        </div>
        <div class="col-md-8">
            <div class="item-name">@Model.Name</div>
            <div >@Resource.StartPrice  <span class="item-start-price"> @Model.StartPrice @currency</span></div>
            <hr/>
            <span class="item-description">@Model.Description</span>
            <hr />

            @if (Model.IsActual)
            {
                using (Html.BeginForm("Create", "Bid", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("productId", Model.Id)
                    if (User.Identity.IsAuthenticated)
                    {
                        <input type="submit" value="@Resource.CreateBid: @Model.BidPrice @currency.ToHtmlString()" class="button"/>
                    }
                    else
                    {
                        @Html.ActionLink(Resource.CreateBid, "Login",new {controller="Account"},new {@class="button"})
                    }
                }
            }
        </div>
    </div>

</section>
<hr/>

<a href="@returnUrl" class="return-link">@Resource.Return</a>