﻿@using AuctionStore.Business.Enums
@using AuctionStore.UI.Models.EnumsViewModels
@using Rsc
@model IEnumerable<AuctionStore.UI.Models.ProductsViewModels.ProductViewModel>

@{
    ViewBag.Title = Resource.ProductManagement;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string returnUrl = Request.Url.PathAndQuery;
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Count() != 0)
        {
            <table>
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                    <th>@Html.DisplayNameFor(m => m.Duration)</th>
                    <th>@Html.DisplayNameFor(m => m.StartDate)</th>
                    <th>@Html.DisplayNameFor(m => m.StartPrice)</th>
                    <th>@Html.DisplayNameFor(m => m.Category.Name)</th>
                    <th>@Html.DisplayNameFor(m => m.State)</th>
                    <th>@Html.DisplayNameFor(m => m.BidsQuantity)</th>
                    <th>@Html.DisplayNameFor(m => m.TimeLeft)</th>
                    <th>@Resource.Actions</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.State == ProductStateView.Selling)
                            {
                                @Html.ActionLink(item.Name, "Details", new {id = item.Id, returnUrl = returnUrl})

                            }
                            else
                            {
                                @Html.DisplayFor(m => item.Name)
                            }
                        </td>
                        <td>@Html.DisplayFor(m => item.Duration)</td>
                        <td>
                            @if (item.State == ProductStateView.Draft)
                            {
                                <span> - </span>
                            }
                            else
                            {
                                @Html.DisplayFor(m => item.StartDate)
                            }
                        </td>
                        <td>@Html.DisplayFor(m => item.StartPrice)</td>
                        <td>@Html.DisplayFor(m => item.Category.Name)</td>
                        <td>@Html.DisplayForEnum(item.State)</td>
                        <td>@Html.DisplayFor(m => item.BidsQuantity)</td>
                        <td>
                            @if (item.State == ProductStateView.Draft)
                            {
                                <span> - </span>
                            }
                            else
                            {
                                @item.TimeLeft.ToString(@"dd\.hh\:mm\:ss")
                            }
                        </td>
                        <td>
                            @if (item.State == ProductStateView.Draft)
                            {
                                using (Html.BeginForm("Delete", "Product", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    ;
                                    @Html.Hidden("id", item.Id)
                                    @Html.Hidden("returnUrl", returnUrl)
                                    <input type="submit" value=@Resource.Delete class="button blue"/>
                                }
                                @Html.ActionLink(Resource.Update, "Update", new {id = item.Id, controller = "Product"})
                            }
                            else
                            {
                                <span> - </span>
                            }
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        }
        else
        {
            <h3>@Resource.NoProducts</h3>
        }

        <div style="text-align: center; margin: 30px">@Html.ActionLink(Resource.Create, "Create", new { controller = "Product", returnUrl = Request.Url.PathAndQuery }, new { @class = "button" }) </ div >

    </div>
</div>
