﻿@using System.Data
@using Rsc;
@model AuctionStore.UI.Models.ProductsViewModels.ProductsListViewModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";

    const int itemsInRow = 4;
    int current = 0;
    int allItems = Model.Products.Count();
}

<nav class="category">
        <div class="row">
            <div class="col-md-12">
                @Html.Action("CategoriesMenu", "Nav")
            </div>
        </div>
</nav>

<div class="line clearfix"></div>

@if (Model.Products.Count() == 0)
{
    <h2>@Resource.NoLots</h2>
}
else
{

foreach (var product in Model.Products)
 {
     <div class="col-md-3">
         @Html.Partial("ProductSummary", product)
     </div>

     current++;
     if (current%itemsInRow == 0 && current < allItems)
     {
         <div class="line clearfix"></div>
         <hr class="accent"/>
     }
 }

    <div class="line clearfix"></div>

    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("ProductsList", new {page = x, category = Model.CurrentCategory}))
    </div>
}