﻿@using Rsc
@model AuctionStore.UI.Models.ProductsViewModels.ProductUpdateViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SelectListItem> selectListItems = ViewBag.CategoriesSelectListItem;
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Update", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
        {
            <h2>@ViewBag.Title</h2>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(p => p.Id)

            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { placeholder = Resource.Name } })
            @Html.ValidationMessageFor(m => m.Name)

            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { placeholder = Resource.Description } })
            @Html.ValidationMessageFor(m => m.Description)

            @Html.LabelFor(m => m.Duration)
            @Html.EditorFor(m => m.Duration)
            @Html.ValidationMessageFor(m => m.Duration)

            @Html.LabelFor(m => m.StartPrice)
            @Html.EditorFor(m => m.StartPrice)
            @Html.ValidationMessageFor(m => m.StartPrice)

            @Html.DropDownListFor(m => m.CategoryId, selectListItems)
            @Html.ValidationMessageFor(m => m.CategoryId)

            <input type="file" name="image" size="40" />
            <input type="submit" value=@Resource.Create class="button" />
        }
    </div>
</div>

