﻿@using Rsc
@model AuctionStore.UI.Models.UserViewModels.LoginViewModel
@{
    ViewBag.Title = Resource.SignIn;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form" }))
{
    <h2>@Resource.SignIn</h2>
    @Html.ValidationSummary(true)

    @Html.ValidationMessageFor(m=>m.UserName)
    @Html.EditorFor(m => m.UserName, new {htmlAttributes = new {placeholder = Resource.UserName}})

    @Html.ValidationMessageFor(m => m.Password)
    @Html.EditorFor(m => m.Password, new {htmlAttributes = new {placeholder = Resource.Password}})
    <input class="button" type="submit" value=@Resource.SignIn />
}


