﻿@using Rsc
@model AuctionStore.UI.Models.UserViewModels.CreateUserViewModel
@{
    ViewBag.Title = Resource.Register;
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SelectListItem> timeZonesSelectListItems = ViewBag.TimeZonesSelectListItems;
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form" }))
{
    <h2>@Resource.Register</h2>
    @Html.ValidationSummary(true)

    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { placeholder = Resource.UserName } })
    @Html.ValidationMessageFor(m=>m.UserName)

    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { placeholder = Resource.Password } })
    @Html.ValidationMessageFor(m => m.Password)

    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { placeholder = Resource.ConfrimPassword } })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)

    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { placeholder = Resource.FirstName } })
    @Html.ValidationMessageFor(m => m.FirstName)

    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { placeholder = Resource.LastName } })
    @Html.ValidationMessageFor(m => m.LastName)

    @Html.DropDownListFor(m=>m.TimeZoneId,Model.TimeZonesSelectListItems)

    <input class="button" type="submit" value=@Resource.Confirm />
}
