﻿@using Microsoft.AspNet.Identity
@using Rsc
@model AuctionStore.UI.Models.UserViewModels.UserProfileViewModel

@{
    ViewBag.Title = Resource.UserProfile;
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<SelectListItem> timeZonesSelectListItems = ViewBag.TimeZonesSelectListItems;
}
<p>@User.Identity.GetUserId()</p>
<p>@User.Identity.Name</p>


@using (Html.BeginForm("UserProfile","Account", FormMethod.Post,new {@class="form"}))
{
    @Html.DropDownListFor(m=>m.TimeZoneId,timeZonesSelectListItems,TimeZoneInfo.FindSystemTimeZoneById(Model.TimeZoneId))
    <input type="submit" value=@Resource.Confirm/>
}

@using (Html.BeginForm("ChangePassword","Account", FormMethod.Post, new { @class = "form" }))
{
    <h2>Change password</h2>
    
    @Html.EditorFor(m => m.ChangePasswordModel.Password, new { htmlAttributes = new { placeholder = Resource.Password } })
    @Html.ValidationMessageFor(m => m.ChangePasswordModel.Password)

    @Html.EditorFor(m => m.ChangePasswordModel.ConfirmPassword, new { htmlAttributes = new { placeholder = Resource.ConfrimPassword } })
    @Html.ValidationMessageFor(m => m.ChangePasswordModel.ConfirmPassword)
    <input type="submit" value="Change Password" />
}

