﻿@using AuctionStore.Business.Enums
@using AuctionStore.UI.Models.EnumsViewModels
@using Rsc
@model IEnumerable<AuctionStore.UI.Models.BidViewModels.BidViewModel>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        @if (Model.Count() != 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Product.Name)</th>
                        <th>@Html.Display(Resource.TimeLeft)</th>
                        <th> @Html.DisplayNameFor(m => m.Price)</th>
                        <th>@Html.DisplayNameFor(m => m.State)</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.Product.Name, "Details", new {controller = "Product", id = item.Product.Id, returnUrl = Request.Url.PathAndQuery}, new {@class = "item-title"})</td>
                            <td>
                                @if (item.Product.TimeLeft < TimeSpan.Zero)
                                {
                                    <span>Время истекло</span>
                                }
                            </td>
                            <td>@item.Price</td>
                            <td>
                                @if (item.State == BidStateView.Leader && item.Product.TimeLeft < TimeSpan.Zero)
                                {
                                    <span>You win</span>
                                }
                                else
                                {
                                    <span>@Html.DisplayForEnum(item.State)</span>
                                }
                        </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>@Resource.NoBids</h2>
        }
    </div>
</div>