﻿@{
    ViewBag.Title = "AddModeratorCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>AddModeratorCategory</h2>

@if (!((IEnumerable<SelectListItem>)ViewBag.Categories).Any())
{
    <div>Категории для добавления не найдены</div>
}
else
{
    using (Html.BeginForm())
    {
        @Html.Hidden("userId", (string)ViewBag.UserId)
        @Html.DropDownList("category", (IEnumerable<SelectListItem>)ViewBag.Categories)
        <div>@Request.RequestContext.RouteData.Values["auction"]</div>
        <input type="submit" value="Ok" />
    }

}
