﻿@using Rsc
@model IEnumerable<AuctionStore.Business.Entities.AuctionHouse>
@{
    ViewBag.Title = "AuctionHousesManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model!=null && Model.Count()!=0)
{
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th style="text-align: center">@Resource.Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var house in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(house.Name, "Update", new {id = house.Name , controller="AuctionHouse"})</td>
                            <td>@house.Location</td>
                            <td class="action">
                                @using (Html.BeginForm("Delete", "AuctionHouse"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("name", house.Name)
                                    <input type="submit" value=@Resource.Delete class="button blue"/>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resource.Create, "Create", new { controller = "AuctionHouse" }, new { @class = "button" })
</div>

