﻿@using Rsc
@model IEnumerable<AuctionStore.UI.Models.CategoriesViewModels.CategoryViewModel>
@{
    ViewBag.Title = Resource.CategoryManagement;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count() != 0)
{
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                    <th>@Html.DisplayNameFor(m => m.Description)</th>
                    <th style="text-align: center">@Resource.Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Name, "Update", new {controller = "Category", id = item.Id}, new {@class = "item-title"})</td>
                        <td>@Html.DisplayFor(m => item.Description)</td>
                        <td class="action">
                            @using (Html.BeginForm("Delete", "Category"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", item.Id)
                                <input type="submit" value=@Resource.Delete class="button blue"/>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <span>@Resource.NoCategory</span>
}

<div>
    @Html.ActionLink(Resource.Create, "Create", new {controller = "Category"}, new {@class = "button"})
</div>
