﻿@using AuctionStore.Business.Entities
@using AuctionStore.Business.Enums
@model AuctionStore.UI.Models.ModeratorCategoriesManageViewModel
@{
    ViewBag.Title = "ModeratorRights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <ul>
            <h2>Категории модератора для управления</h2>
            @foreach (var claim in Model.Claims)
            {
                <li>
                    @{
                        var category = $"Аукционный дом: {claim.Value.Split('/')[0]}| Категория: {claim.Value.Split('/')[1]}";
                    }

                    @using (Html.BeginForm("DeleteCategoryFromManageModerator", "Admin"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("userId", Model.Id)
                        @Html.Hidden("categoryName", claim.Value)
                        <input type="submit" value="- @category"/>
                    }
                </li>
            }
        </ul>

@if (Model.Categories.Count()!=0)
{
    using (Html.BeginForm("AddCategoryToManageModerator", "Admin", FormMethod.Post, new {@class = "form"}))
    {
        <h2>Добавить категорию для управления</h2>
        @Html.AntiForgeryToken()
        @Html.Hidden("userId", Model.Id)
        @Html.DropDownList("categoryName", Model.Categories)
        <input type="submit" value="add"/>
    }
}
</div>
</div>