﻿@using AuctionStore.Business.Enums
@using AuctionStore.DAL.EnumsDto
@using AuctionStore.UI.Models.EnumsViewModels
@using Rsc
@model IEnumerable<AuctionStore.UI.Models.ProductsViewModels.ProductViewModel>
@{
    ViewBag.Title = Resource.ProductManagement;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.ProductManagement</h2>

<nav class="category">
    <div class="row">
        <div class="col-md-12">
            @Html.Action("ProductsMenu", "Nav")
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.Duration)</th>
                <th>@Html.DisplayNameFor(m => m.StartDate)</th>
                <th>@Html.DisplayNameFor(m => m.StartPrice)</th>
                <th>@Html.DisplayNameFor(m => m.Category.Name)</th>
                <th>@Html.DisplayNameFor(m => m.ImageData)</th>
                <th>@Html.DisplayNameFor(m => m.State)</th>
                <th>@Html.DisplayNameFor(m => m.TimeLeft)</th>
                <th colspan="2">@Resource.Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Name)</td>
                    <td>@Html.DisplayFor(m => item.Duration)</td>
                    <td>@Html.DisplayDateTime(item.StartDate, (string) ViewBag.TimeZoneId)</td>
                    <td>@Html.DisplayFor(m => item.StartPrice)</td>
                    <td>@Html.DisplayFor(m => item.Category.Name)</td>
                    <td><img width="100" height="100" src="@Url.Action("GetImage", "Product", new {id = item.Id})"/></td>
                    <td>@Html.DisplayForEnum(item.State)</td>
                    <td>@item.TimeLeft.ToString(@"dd\.hh\:mm\:ss")</td>

                    <td>
                        @using (Html.BeginForm("ChangeState", "Product", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", item.Id)
                            @Html.Hidden("returnUrl", Request.Url)

                            switch (item.State)
                            {
                                case ProductStateView.Selling:
                                {
                                    @Html.Hidden("newState", ProductState.Banned)
                                    <input type="submit" value=@Resource.Ban class="button blue"/>
                                }
                                    break;
                                case ProductStateView.Draft:
                                case ProductStateView.Banned:
                                {
                                    @Html.Hidden("newState", ProductState.Selling)
                                    <input type="submit" value=@Resource.Publish class="button blue"/>
                                }
                                    break;
                                case ProductStateView.Sold:
                                {
                                    <span> - </span>
                                }
                                    break;
                            }
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Product", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", item.Id)
                            @Html.Hidden("returnUrl", Request.Url)
                            <input type="submit" value=@Resource.Delete class="button blue"/>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
