﻿@model IEnumerable<IGrouping<Guid, AuctionStore.Business.Entities.UserClaim>>
@{
    ViewBag.Title = "ModeratorsManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ModeratorsManage</h2>
@if (Model.Count() != 0)
{

    <table>
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>

        <tr>
            @foreach (var user in Model)
            {
                <td> @user.Key</td>
                foreach (var claims in user)
                {
                    <td>@claims.Type</td>
                    <td>@claims.Value</td>
                }
                <td>
                    @Html.ActionLink("Добавить категорию для управления", "AddModeratorCategory", new {userId = user.Key})
                    @Html.ActionLink("Удалить категорию для управления", "DeleteModeratorCategory", new {userId = user.Key})
                </td>
            }
        </tr>
        </tbody>
    </table>
}
