﻿@using AuctionStore.UI.Models.EnumsViewModels
@using Rsc
@model IEnumerable<AuctionStore.UI.Models.UserViewModels.UserViewModel>
@{
    ViewBag.Title = Resource.UserManagement;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Array roles = Enum.GetValues(typeof (RoleView));
}

<div>@ViewBag.Title</div>
@if (Model.Count() != 0)
{
    <table>
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.UserName)</th>
            <th>@Html.DisplayNameFor(m => m.FirstName)</th>
            <th>@Html.DisplayNameFor(m => m.LastName)</th>
            <th>@Html.DisplayNameFor(m => m.RegistrationDate)</th>
            <th>@Html.DisplayNameFor(m => m.UserRoles)</th>
            <th>@Resource.DeleteRole</th>
            <th>@Resource.AddRole</th>
            <th>@Resource.Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.UserName)</td>
                <td>@Html.DisplayFor(m => item.FirstName)</td>
                <td>@Html.DisplayFor(m => item.LastName)</td>
                <td>@Html.DisplayDateTime(item.RegistrationDate, (string)ViewBag.TimeZoneId)</td>
                <td>
                    @foreach (var role in item.UserRoles)
                    {
                        <span>@Html.DisplayForEnum(role)</span>
                    }
            </td>

                <td>
                    @foreach (var role in roles)
                    {
                        if ((RoleView) role == RoleView.Admin)
                        {
                            continue;
                        }

                        if (item.UserRoles.Contains((RoleView)role))
                        {
                            using (Html.BeginForm("DeleteFromRole", "User"))
                            {
                                @Html.Hidden("userId", item.Id)
                                @Html.Hidden("role", (RoleView) role)
                                <input type="submit" value="- @Html.DisplayForEnum((RoleView) role)" class="button blue"/>
                            }
                        }
                    }
                </td>
                <td>
                    @foreach (var role in roles)
                    {
                        if ((RoleView) role == RoleView.Admin)
                        {
                            continue;
                        }

                        if (!item.UserRoles.Contains((RoleView)role))
                        {
                            using (Html.BeginForm("AddToRole", "User"))
                            {
                                @Html.Hidden("userId", item.Id)
                                @Html.Hidden("role", (RoleView) role)
                                <input type="submit" value="+ @Html.DisplayForEnum((RoleView)role)" class="button blue"/>
                            }
                        }
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteUser", "User", FormMethod.Post))
                    {
                        @Html.Hidden("id", item.Id)
                        <input type="submit" class="button blue" value=@Resource.Delete/>
                    }
                </td>
               @if (item.UserRoles.Contains(RoleView.Moderator))
               {
                   <td>@Html.ActionLink("Уравление модератором", "ModeratorClaims", new {id = item.Id})</td>
               }
            </tr>
        }
            
        </tbody>
    </table>
}
else
{
    <span>@Resource.NoUsers</span>
}

<div style="text-align: center">@Html.ActionLink(Resource.Create, "Create", new { controller = "User" }, new { @class = "button" })</div>