﻿<div ng-controller="AccountController">
    <form ng-submit="signIn()" class="form">
        <input type="text" ng-model="userName" placeholder="User name" />
        <input type="password" placeholder="Password" ng-model="password" />
        <input type="submit" value="Ok"/>
        {{message}}
    </form>
</div>