﻿<div ng-controller="BidController">
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>TimeLeft</th>
                        <th>Price</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bid in bids">
                        <td>{{bid.Name}}</td>
                        <td>
                           {{bid.Product.TimeLeft}}
                        </td>
                        <td>{{bid.Price}}</td>
                        <td>
                           {{bid.State}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>