﻿<div ng-controller="DetailsController">
    <section class="details">
        <div class="row">
            <div class="col-md-4">
                <img class="details-image" src="data:{{item.ImageType}};base64,{{item.ImageData}}" />
            </div>
            <div class="col-md-8">
                <div class="item-name">{{item.Name}}</div>
                <div>{{item.StartPrice}} <span class="item-start-price"> </span></div>
                <hr />
                <span class="item-description">{{item.Description}}</span>
                <hr />

                <input ng-if="isAuthenticated" type="submit" ng-click="makeBid(item.Id)" value="Create bid" class="button" />
            </div>
        </div>

    </section>
    <hr />
</div>

