﻿<div ng-controller="EditProductController" style="color:red">
    <form name="productForm" novalidate ng-submit="editProduct(productForm.$valid)" enctype="multipart/form-data" method="post" class="form">

        <input type="text" name="productName" ng-model="name" required placeholder="Название" ng-minlength="5" ng-maxlength="30"/>
        <div ng-messages="productForm.productName.$error" ng-if="productForm.productName.$dirty">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">Message must be over 5 characters</div>
            <div ng-message="maxlength">Message must not exceed 30 characters</div>
        </div>

        <textarea placeholder="Описание" name="productDescription" ng-model="description" ng-minlength="5" ng-maxlength="100"></textarea>
        <div ng-messages="productForm.productDescription.$error" ng-if="productForm.productDescription.$dirty">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">Message must be over 5 characters</div>
            <div ng-message="maxlength">Message must not exceed 100 characters</div>
        </div>

        <input name="productDuration" type="text" value="12:00:00" placeholder="Продолжительность" ng-model="duration" ng-pattern="" required="" />
        <div ng-messages="productForm.productDuration.$error" ng-if="productForm.productDuration.$dirty">
            <div ng-message="required">This field is required</div>
            <div ng-message="pattern"></div>
        </div>

        <input name="productPrice" type="text" value="0" ng-model="startPrice" placeholder="Цена" ng-minlength="5" required=""/>
        <div ng-messages="productForm.productPrice.$error" ng-if="productForm.productPrice.$dirty">
            <div ng-message="minlength">Message must be over 5 characters</div>
            <div ng-message="required">This field is required</div>
            <div ng-message="pattern"></div>
        </div>


        <select name="auction" ng-change="changeHouse()" ng-model="auction" required="">
            <option ng-repeat="auction in auctions" >{{auction}}</option>
        </select>
        <div ng-messages="productForm.auction.$error" ng-if="productForm.auction.$dirty">
            <div ng-message="required">This field is required</div>
        </div>

        <select name="category" ng-model="categoryId" ng-show="showCategory" required="">
            <option ng-repeat="category in categories" value="{{category.Id}}">{{category.Name}}</option>
        </select>
        <div ng-messages="productForm.category.$error" ng-if="productForm.category.$dirty">
            <div ng-message="required">This field is required</div>
        </div>

        <input type="file" name="image" size="40" />

        <input type="submit" ng-disabled="productForm.$invalid" class="button" />
    </form>
</div>