﻿<footer>
    <section class="top-footer">
        <div class="container">
            <div class="footer-contacts">
                <h2>Контакты</h2>
                <ul>
                    <li> <i class="fa fa-map-marker"></i> Storgata 166, Hus 6 0182 Oslo Norway</li>
                    <li><i class="fa fa-mobile-phone"></i> +47 (22) 123 456</li>
                    <li><i class="fa fa-at"></i>email@company.com</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="bottom-footer">
        <div class="container">
            <span>© 2016  Produced by GJekaS</span>
        </div>
    </section>
</footer>