﻿    <header class="main-head">
    <section class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="top-menu-ul">
                        <li class="dropdown">
                        </li>
                    </ul>
                    <ul class="top-menu-ul">
                        <li class="dropdown">
                            <a><i class="fa fa-angle-double-down"></i> Аукционный дом </a>
                            <ul class="dropdown-content" id="auction-house">
                                <li ng-repeat="auction in auctions" ng-model="$currentAuction" ng-click="changeAuction(auction)"><a>{{auction}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <span>
                        </span>
                </div>
                <div class="col-md-8">
                    <ul class="top-menu-ul right-content" ng-if="authentication.isAuthenticated">
                        <li><a ui-sref="root.bids">My lots</a></li>
                        <li><a>Welcome, {{user.UserName}}</a></li>
                        <li><a ng-click="signOut()">Sign out</a></li>
                    </ul>

                    <ul class="top-menu-ul right-content" ng-if="!authentication.isAuthenticated">
                        <li><a ng-click="signIn()">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="top-banner">
        <div class="container">
            <img src="/static/img/iynbvttsbqq.jpg" class="logo-img"/>
        </div>
    </section>

    <nav class="nav-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="top-menu-ul">
                        <li>
                            <a ng-if="authentication.isAuthenticated" ui-sref="root.createProduct" class="button">Create product</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>
