﻿<div ng-controller="ProductController">

    <nav class="category">
        <div class="col-md-12">
            <ul>
                <li ng-repeat="category in categories"><i class="fa fa-circle-thin"></i><a ui-sref="root.products.categories({category: category.Name})">{{category.Name}}</a></li>
            </ul>
        </div>
    </nav>

    <div class="col-md-3" ng-repeat="product in products">
        <div class="product-item">
            <div class="item-image">
                <div class="price">
                    <div class="last-price">{{product.StartPrice}}</div>
                </div>
                <img src="data:{{product.ImageType}};base64,{{product.ImageData}}"/>
            </div>
            <div class="item-description">
                <div class="title">{{product.Name}}</div>
                <hr/>
                <h4>{{product.BidsQuantity}}</h4>
                <hr/>
                <h4>
                    {{product.TimeLeft}}
                </h4>
                <hr/>
                <a ui-sref="root.products.categories.details({id: product.Id})" style="color: black">Details</a>
            </div>
        </div>
    </div>
</div>