﻿@main-color: #121212;
@main-color-light: lighten(@main-color,10%);
@main-color-accent: #365271;
@accent-text: #F03516;
@accent-text2: #44619d;
@background: white;
@accent3: #c66666;

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/robotobold/robotobold.eot') format('embedded-opentype'), url('../fonts/robotobold/robotobold.ttf') format('truetype'), url('../fonts/robotobold/robotobold.woff') format('woff');
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/robotoregular/robotoregular.eot') format('embedded-opentype'), url('../fonts/robotoregular/robotoregular.ttf') format('truetype'), url('../fonts/robotoregular/robotoregular.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'robotoregular';
}

a {
    color: white;

    &:hover, &:focus, &:active {
        cursor: pointer !important;
        text-decoration: none !important;
    }
}


header.main-head {
    position: relative;

    ul.top-menu-ul {
        display:inline !important;
        > li {
            display: inline-block;
            line-height: 15px;
            font-size: 15px;
            list-style: none;

            &:first-child {
                padding-left: 0;
            }

            > a {
                padding: 10px 5px;
                color: white !important;
            }
        }
    }

    .right-content {
        float: right;
    }

    .top-menu {
        color: white;
        z-index: 99;
        position: fixed;
        width: 100%;
        opacity: 0.8;
        top: 0;
        background: @main-color;
        padding: 10px 0;

        ul {
            > li {
                > a:hover {
                    background: @accent-text;

                    i {
                        color: white !important;
                    }
                }
            }
        }
    }

    .top-banner {
        height: 280px;
        color: #444444;
        background: @background;
        position: relative;

        img.logo-img{
             position: absolute;
             top: 30%;
            max-width:200px;
            max-height:200px;;
        }

        a.logo {
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            left:35%;
            font-size: 200%;
            letter-spacing: 2px;
            color: #444444;
        }
    }

    .nav-menu {
        background-color: @main-color-accent;
        border-bottom: 1px solid @accent-text;

        .selected-menu-item {
            background: @accent-text;
        }

        ul {
            li {
                padding: 15px 0;

                a {
                    padding: 15px;
                    font-size: 16px;

                    &:hover {
                        transition: all 0.4s;
                        background: white;
                        color: @main-color-accent !important;
                    }
                }
            }
        }
    }
}

.message {
    text-align: center;
    font-size: 17px;
    border-radius: 3px;
    margin: 20px 0;
    padding: 10px;
    color: green;
    i{
        color:green !important;
    }
}

.error-message {
    text-align: center;
    font-size: 17px;
    border-radius: 3px;
    margin: 20px 0;
    padding: 10px;
    color: red;
    i{
        color:red !important;
    }
}

.accent{
    color:@accent-text !important;
}

.page-title {
    color: @accent-text;
    font-size: 18px;
}

nav.category {
    i {
        color: @accent-text2 !important;
    }

    ul {
        text-align: center;
        list-style-type: none;

        li {
            display: inline-block;
        }

        li a {
            color: @main-color;
            padding: 10px;
        }
    }
}

a.selected {
    border-bottom: 3px solid @accent-text;
}

/*Dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.dropdown-content {
    top: 105%;
    left: 5%;
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: @main-color;
    border-radius: 5px;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    & > li {
        border-bottom: 1px solid black;

        a {
            padding: 12px 16px;
            display: block;
        }

        a:hover {
            color: white;
        }

        &:hover {
            background-color: red;
        }

        &:last-child {
            color: red;
            border-bottom: none;
        }
    }
}

.fa {
    color: @accent-text !important;
    font-size: 17px !important;
    padding: 0 3px;
}



.pager {
    text-align: right;

    a {
        color: @main-color;
    }
}

.line {
    margin: 20px 0;
}


.main-content .row {
    margin-bottom: 20px !important;
}

.main-content {
    color: black;
    min-height: 500px;
    margin: 25px auto;

    .product-item {
        border: 1px solid #e5e5e5;

        .title {
            font-size: 18px;
            max-height: 25px;
            overflow: hidden;
        }

        .item-image {
            min-height: 260px;
            position: relative;

            img {
                max-width: 100%;
                border-bottom: 4px solid @accent-text;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .price {
                border-radius: 2px;
                color: white;
                background-color: @accent-text;
                padding: 5px 3px;
                position: absolute;
                top: 5px;
                right: 5px;

                .start-price {
                    text-align: right;
                    font-size: 70%;
                    text-decoration: line-through;
                }

                .last-price {
                    font-size: 90%;
                }
            }
        }

        .item-description {
            padding: 15px;
            text-align: center;
            margin: 10px 0;
        }
    }
}

.details {
    img.details-image {
        width: 100%;
        height:100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
         border-bottom: 4px solid @accent-text;
    }
    .item-name{
        font-size:25px;
    }
    .item-description{
        font-size:14px;
        word-spacing:2px;
        line-height:14px;
    }
    .item-start-price{
        color:@accent-text;
        font-size:18px;
    }
}


.button {
    text-align: center;
    background-color: @accent-text;
    padding: 8px 17px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;

    &:hover {
        color: white;
        background-color: @main-color-accent;
    }
}

input[type=submit] {
    border: 0 none;
}

.form{

}

form.form{
    text-align: center;

    input, textarea , select {
        margin: 10px auto;
        min-width: 30%;
        height: 40px;
        padding: 10px;
        border: 2px solid #f1f1f1;
        display: block;
    }

    textarea {
        height: 80px !important;
    }

    select {
        width:200px;
        height: 47px !important;
    }
}

input[type=file] {
    border: none;
}



.blue {
    background-color: @accent-text2;
}

table {
    a {
        color: @accent-text;
    }

    width: 100%;
}

th,
td {
    color: @main-color;
    padding: 8px 10px;
    vertical-align: middle;
}

tr:last-child > td:last-child {
    padding: 17px 0;
}

thead {
    color: #fff;
    border-bottom: 1px solid @accent-text;
    border-top: 1px solid @accent-text;
}


tbody tr:nth-child(even) {
    background: #f0f0f2;
}

td {
    text-align: center;
    border-bottom: 1px solid @accent-text;
}



a.item-title {
    text-align: left;
    color: @accent-text2 !important;
    text-decoration: underline;
}

tfoot {
    text-align: right;
}

tfoot tr:last-child {
    background: #f0f0f2;
    color: #395870;
}

tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

a.return-link {
    color: @main-color-accent;
    text-decoration:underline;
    float: right;
    margin:20px 0;
}

footer {
    .top-footer {
        h2 {
            font-weight: normal;
            margin-bottom: 20px;
        }

        border-top: 1px solid @accent-text;
        background: @main-color-light;

        .footer-contacts {
            display: inline-block;

            ul {
                list-style-type: none;

                li {
                    padding: 3px 0;
                }
            }
        }
    }

    .bottom-footer {
        background: @main-color;
    }

    .top-footer, .bottom-footer {
        padding: 25px 0;
        color: white;
    }
}


@media (max-width: 468px) {
    ul {
        li {
            display: block !important;
        }
    }

    .main-logo {
        top: 70% !important;
    }
}



.field-validation-error {
    color: red;
    display: block;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}

.validation-summary-valid {
    display: none;
}
