﻿@font-face {
  font-family: 'robotobold';
  src: url('../fonts/robotobold/robotobold.eot') format('embedded-opentype'), url('../fonts/robotobold/robotobold.ttf') format('truetype'), url('../fonts/robotobold/robotobold.woff') format('woff');
}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/robotoregular/robotoregular.eot') format('embedded-opentype'), url('../fonts/robotoregular/robotoregular.ttf') format('truetype'), url('../fonts/robotoregular/robotoregular.woff') format('woff');
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: 'robotoregular';
}
a {
  color: white;
}
a:hover,
a:focus,
a:active {
  cursor: pointer !important;
  text-decoration: none !important;
}
header.main-head {
  position: relative;
}
header.main-head ul.top-menu-ul {
  display: inline !important;
}
header.main-head ul.top-menu-ul > li {
  display: inline-block;
  line-height: 15px;
  font-size: 15px;
  list-style: none;
}
header.main-head ul.top-menu-ul > li:first-child {
  padding-left: 0;
}
header.main-head ul.top-menu-ul > li > a {
  padding: 10px 5px;
  color: white !important;
}
header.main-head .right-content {
  float: right;
}
header.main-head .top-menu {
  color: white;
  z-index: 99;
  position: fixed;
  width: 100%;
  opacity: 0.8;
  top: 0;
  background: #121212;
  padding: 10px 0;
}
header.main-head .top-menu ul > li > a:hover {
  background: #F03516;
}
header.main-head .top-menu ul > li > a:hover i {
  color: white !important;
}
header.main-head .top-banner {
  height: 280px;
  color: #444444;
  background: white;
  position: relative;
}
header.main-head .top-banner img.logo-img {
  position: absolute;
  top: 30%;
  max-width: 200px;
  max-height: 200px;
}
header.main-head .top-banner a.logo {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 35%;
  font-size: 200%;
  letter-spacing: 2px;
  color: #444444;
}
header.main-head .nav-menu {
  background-color: #365271;
  border-bottom: 1px solid #F03516;
}
header.main-head .nav-menu .selected-menu-item {
  background: #F03516;
}
header.main-head .nav-menu ul li {
  padding: 15px 0;
}
header.main-head .nav-menu ul li a {
  padding: 15px;
  font-size: 16px;
}
header.main-head .nav-menu ul li a:hover {
  transition: all 0.4s;
  background: white;
  color: #365271 !important;
}
.message {
  text-align: center;
  font-size: 17px;
  border-radius: 3px;
  margin: 20px 0;
  padding: 10px;
  color: green;
}
.message i {
  color: green !important;
}
.error-message {
  text-align: center;
  font-size: 17px;
  border-radius: 3px;
  margin: 20px 0;
  padding: 10px;
  color: red;
}
.error-message i {
  color: red !important;
}
.accent {
  color: #F03516 !important;
}
.page-title {
  color: #F03516;
  font-size: 18px;
}
nav.category i {
  color: #44619d !important;
}
nav.category ul {
  text-align: center;
  list-style-type: none;
}
nav.category ul li {
  display: inline-block;
}
nav.category ul li a {
  color: #121212;
  padding: 10px;
}
a.selected {
  border-bottom: 3px solid #F03516;
}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
ul.dropdown-content {
  top: 105%;
  left: 5%;
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: #121212;
  border-radius: 5px;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
ul.dropdown-content > li {
  border-bottom: 1px solid black;
}
ul.dropdown-content > li a {
  padding: 12px 16px;
  display: block;
}
ul.dropdown-content > li a:hover {
  color: white;
}
ul.dropdown-content > li:hover {
  background-color: red;
}
ul.dropdown-content > li:last-child {
  color: red;
  border-bottom: none;
}
.fa {
  color: #F03516 !important;
  font-size: 17px !important;
  padding: 0 3px;
}
.pager {
  text-align: right;
}
.pager a {
  color: #121212;
}
.line {
  margin: 20px 0;
}
.main-content .row {
  margin-bottom: 20px !important;
}
.main-content {
  color: black;
  min-height: 500px;
  margin: 25px auto;
}
.main-content .product-item {
  border: 1px solid #e5e5e5;
}
.main-content .product-item .title {
  font-size: 18px;
  max-height: 25px;
  overflow: hidden;
}
.main-content .product-item .item-image {
  min-height: 260px;
  position: relative;
}
.main-content .product-item .item-image img {
  max-width: 100%;
  border-bottom: 4px solid #F03516;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-content .product-item .item-image .price {
  border-radius: 2px;
  color: white;
  background-color: #F03516;
  padding: 5px 3px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.main-content .product-item .item-image .price .start-price {
  text-align: right;
  font-size: 70%;
  text-decoration: line-through;
}
.main-content .product-item .item-image .price .last-price {
  font-size: 90%;
}
.main-content .product-item .item-description {
  padding: 15px;
  text-align: center;
  margin: 10px 0;
}
.details img.details-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 4px solid #F03516;
}
.details .item-name {
  font-size: 25px;
}
.details .item-description {
  font-size: 14px;
  word-spacing: 2px;
  line-height: 14px;
}
.details .item-start-price {
  color: #F03516;
  font-size: 18px;
}
.button {
  text-align: center;
  background-color: #F03516;
  padding: 8px 17px;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
}
.button:hover {
  color: white;
  background-color: #365271;
}
input[type=submit] {
  border: 0 none;
}
form.form {
  text-align: center;
}
form.form input,
form.form textarea,
form.form select {
  margin: 10px auto;
  min-width: 30%;
  height: 40px;
  padding: 10px;
  border: 2px solid #f1f1f1;
  display: block;
}
form.form textarea {
  height: 80px !important;
}
form.form select {
  width: 200px;
  height: 47px !important;
}
input[type=file] {
  border: none;
}
.blue {
  background-color: #44619d;
}
table {
  width: 100%;
}
table a {
  color: #F03516;
}
th,
td {
  color: #121212;
  padding: 8px 10px;
  vertical-align: middle;
}
tr:last-child > td:last-child {
  padding: 17px 0;
}
thead {
  color: #fff;
  border-bottom: 1px solid #F03516;
  border-top: 1px solid #F03516;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  text-align: center;
  border-bottom: 1px solid #F03516;
}
a.item-title {
  text-align: left;
  color: #44619d !important;
  text-decoration: underline;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
  color: #395870;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
a.return-link {
  color: #365271;
  text-decoration: underline;
  float: right;
  margin: 20px 0;
}
footer .top-footer {
  border-top: 1px solid #F03516;
  background: #2c2c2c;
}
footer .top-footer h2 {
  font-weight: normal;
  margin-bottom: 20px;
}
footer .top-footer .footer-contacts {
  display: inline-block;
}
footer .top-footer .footer-contacts ul {
  list-style-type: none;
}
footer .top-footer .footer-contacts ul li {
  padding: 3px 0;
}
footer .bottom-footer {
  background: #121212;
}
footer .top-footer,
footer .bottom-footer {
  padding: 25px 0;
  color: white;
}
@media (max-width: 468px) {
  ul li {
    display: block !important;
  }
  .main-logo {
    top: 70% !important;
  }
}
.field-validation-error {
  color: red;
  display: block;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid red;
  background-color: #ffeeee;
}
.validation-summary-errors {
  font-weight: bold;
  color: red;
}
.validation-summary-valid {
  display: none;
}